{
  "presets": ["env"],
  "plugins": ["transform-async-to-generator", "transform-runtime"],
  "comments": false,
  "env": {
    "production": {
      "plugins": [
        "transform-async-to-generator",
        "transform-runtime",
        "transform-remove-console"
      ]
    }
  }
}
