@import "./config.sass"
body
  margin: 0
  background: #fff
  font-size: 14px
  color: $colorFont
h1, h2, h3, h4, h5, h6
  margin: 0
  padding: 0
  font-weight: normal
  font-size: 100%
div, form, img, ul, ol, li, dl, dt, dd
  margin: 0
  padding: 0
  border: 0
li
  list-style: none
  list-style-position: outside

button, input, select, textarea
  vertical-align: middle
  outline: none
  -webkit-tap-highlight-color: rgba(255, 0, 0, 0)
  // -webkit-appearance: none
input
  &[type="radio"]
    -webkit-appearance: radio
  &[type="checkbox"]
    -webkit-appearance: checkbox
select
  background: transparent
input,
textarea
  &::-moz-placeholder
    color: #ccc
    opacity: 1
  &::-ms-input-placeholder
    color: #ccc
  &::-webkit-input-placeholder
    color: #ccc

.hs
  display: none
a
  text-decoration: none
  &:link
    color: $colorLink
  &:visited
    color: $colorLink
  &:hover
    color: $colorTheme
    text-decoration: underline
  &:active,
  &:focus
    color: $colorTheme

.viewport
  margin: 0 $space * 2
.navigation
  position: fixed
  top: 0
  bottom: 0
  width: 15rem
  z-index: 100
  overflow-y: auto
  overflow-x: hidden
  transition: all 500ms cubic-bezier(0.23 1 0.32 1)
  border-right: 1px solid #ddd
.main
  margin-left: 16rem


